{layout $baseLayout}

{block status}
    {include parent}
{/block}

{block mainMenu}
    <ul class="nav navbar-nav">
    	{* main menu items go here *}
        <li><a n:href=":Be:Posts:">Home</a></li>
    </ul>
{/block}
